html,
body {
  padding: 0;
  margin: 0;
  font-family:'Rubik';
  text-rendering: optimizespeed;
  font-weight: 400;
  font-size: 16px;
  color:var(--text-dark);
  background-color:var(--bkg) ;
  overflow-x: hidden;
  
  


}

@font-face {
  font-family: 'Rubik';
  src: url('/font/Rubik/Rubik-Medium.ttf');
  font-style:medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('/font/Rubik/Rubik-Regular.ttf');
  font-style:regular;
  font-weight: 400;
  font-display: swap;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}


:root{
  --bkg:#E5E5E5;
  --text-dark:#2C3344;
  --c1:#d0d2d5;
  --c2:#b9bbc1;
  --c3:#a1a4ac;
  --c4:#8a8e97;
}