
.section{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  justify-content: center;
  padding:1em;
  margin-top:6em;
  text-align: center;


}
.push{
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}


/* .affirm{
  
} */

.container{
  border:2px solid var(--text-dark);
  border-radius: 5px;
  min-width:50%;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;
  flex-direction: column;
  background-color: var(--primary);
  color:#000;
  font-size: 20px;
  padding:1em;
  margin-bottom: 2em;

}


.info{
  max-width: 43em;
  padding: 1em;
  /* margin-bottom: 2em; */
}

.buttons{
  margin-bottom: 6.5em;
}
.normal{
  padding:.3em;
  margin:0.5em;
  width:10em;
  border:none;
  border: 2px solid var(--text-dark);
  border-radius: 5px;

}

.copied{
  background-color: #c7ede6;
  padding:.3em;
  margin:0.5em;
  width:10em;
  border:none;
  border: 2px solid var(--text-dark);
  text-align: center;
  border-radius: 5px;
  


}

.h1{
  font-size: 48px;
}