
.section{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  justify-content: center;
  padding:1em;
  margin-top:6em;
  text-align: center;


}
.push{
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}


/* .affirm{
  
} */

.container{
  border:2px solid var(--text-dark);
  border-radius: 5px;
  min-width:50%;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;
  background-color: var(--primary);
  color:#000;
  font-size: 20px;
  padding:1em;
  margin-bottom: 4em;

}


.info{
  max-width: 43em;
  padding: 1em;
  margin-bottom: 2em;
}
