.card{
    border: 3px solid var(--c1);
    max-width:40rem;
    width:40rem;
    min-height: 15rem;
    border-radius: 3px;
    /* background-color: var(--c1); */
    padding:1em;
    display: flex;
    align-items: center;
    place-content: center;
    justify-content: center;
    margin-top: 1rem;
}

.card h1{
    font-size: 18px;

}


 
@media (max-width: 600px) {
    .card{
       width:auto;
        min-height: 15rem;
        border-radius: 3px;
        /* background-color: var(--c1); */
        padding:1em;
        display: flex;
        align-items: center;
        place-content: center;
        justify-content: center;
    }
    
  }
  