.card{
    border: 1px solid var(--c1);
    max-width:40rem;
    width:40rem;
    min-height: 20rem;
    border-radius: 3px;
    background-color: var(--c1);
    padding:1em;

    display: flex;
    align-items: center;
    place-content: center;
    justify-content: center;
}