.Footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin:0.5em 0;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    text-align: left;
    padding:1em;
}

.Footer a{
    padding:0 0.2em;
    font-weight: 900;

}

.Footer a:hover{
    color:coral;
}