.Footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin:1em 0;
    flex-wrap: wrap;
}

.Footer a{
    padding:0 0.3em;
    font-weight: 900;

}

.Footer a:hover{
    color:coral;
}